﻿@using System.IdentityModel.Tokens.Jwt;
<!DOCTYPE html>
@{
    string token;
    Context.Request.Cookies.TryGetValue("Authorization", out token);
}

@if (token == null)
{
    <div class="form-group">
        <a class="btn btn-outline-success float-right" asp-controller="User" asp-action="Login">Login</a>
        <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Register">New User?</a>
    </div>
}
else
{
    var handler = new JwtSecurityTokenHandler();
    var jsonToken = handler.ReadToken(token);
    var tokenS = jsonToken as JwtSecurityToken;
    string username = tokenS.Claims.First(claim => claim.Type == "sub").Value;
    string role = tokenS.Claims.First(claim => claim.Type == "Role").Value;

    @*User profile section*@
    <div class="nav-item dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-badge"></i> Hello @username
        </button>

        @if (role == "admin")
        {
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-controller="User" asp-action="Users">Users</a>
            </div>
        }
        else
        {
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-controller="Cart" asp-action="Index"><i class="bi bi-cart4"></i>Shopping Cart</a>
            </div>
        }

    </div>
    

    <span style="padding: 5px;"></span>
    <form asp-controller="User" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> Log out
        </button>
    </form>
}