﻿<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if(ViewData["Error"] != null){
    <script>
        swal("", "@ViewData["Error"]", "error");
    </script>
    }
@if (ViewData["Login"] != null)
{
    <script>
        swal("", "@ViewData["Login"]", "success");
    </script>
}
@if (ViewData["Register"] != null)
{
    <script>
        swal("", "@ViewData["Register"]", "success");
    </script>
}