﻿@using DataLayer.ViewModels
@model CreateUserVM

@{
    ViewData["Title"] = "Register";
}

<body>
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ViewImports.cshtml");
    }

    <div class="row">
        <div class="col-md-6 offset-3">
            <p>
                <h4>Register</h4>
            </p>


            <div class="row">
                <div class="col-md-8 offset-2">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPass" class="control-label"></label>
                            <input asp-for="ConfirmPass" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPass" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input class="btn btn-outline-success float-right" type="submit" value="Register" />
                            <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Login">Back to Login Page</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ViewImports.cshtml");
    }
</body>