﻿@using DataLayer.User;
@model IEnumerable<UserData>

@{
    ViewData["Title"] = "All Users";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thread>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Username)</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>