﻿@using DataLayer.Entityes;
@model Menu

@{
    ViewData["Title"] = "Menu details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.PictureURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Restaurant: </b>
                            <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@Model.RestaurantId">
                                @Model.Restaurant.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <div class="row">
                                @foreach (var product in Model.Products_Menues)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@product.Product.PictureURL" style="max-width: 150px" />
                                        <br />
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId">@product.Product.Name</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>