﻿@using DataLayer.ViewModels;
@model CreateMenuVM

@{
    ViewData["Title"] = "Edit Menu";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update menu</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img class="rounded-circle" id="PictureURLPreview" style="max-width: 200px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureURL" class="control-label"></label>
                        <input asp-for="PictureURL" class="form-control" />
                        <span asp-validation-for="PictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select id="lstCategory" asp-for="Category" class="form-control" asp-items="@((SelectList)ViewBag.Categories)"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="RestaurantId" class="control-label"></label>
                        <select id="lstRestaurant" asp-for="RestaurantId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.RestId)"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductIds" class="control-label"></label>
                        <select id="lstProducts" asp-for="ProductIds" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.ProdId)" multiple></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('PictureURLPreview');
            output.src = $("#PictureURL").val();
        })

        $("#PictureURL").on("change", function () {
            var output = document.getElementById('PictureURLPreview');
            output.src = $(this).val();
        })
    </script>
}