﻿@using DataLayer.Entityes;
@model IEnumerable<Menu>

@{
    string token;
    Context.Request.Cookies.TryGetValue("Authorization", out token);
}

<ul class="filters_menu">
    <li>
        <a class="order_online" asp-controller="Menu" asp-action="FilterView" asp-route-category="">
            All
        </a>
    </li>
    <li>
        <a class="order_online" asp-controller="Menu" asp-action="FilterView" asp-route-category="FastFood">
            FastFood
        </a>
    </li>
    <li>
        <a class="order_online" asp-controller="Menu" asp-action="FilterView" asp-route-category="Pizza">
            Pizza
        </a>
    </li>
    <li>
        <a class="order_online" asp-controller="Menu" asp-action="FilterView" asp-route-category="Sushi">
            Sushi
        </a>
    </li>
    <li>
        <a class="order_online" asp-controller="Menu" asp-action="FilterView" asp-route-category="Deserts">
            Deserts
        </a>
    </li>

</ul>

<div class="filters-content">
    <div class="row grid">
    @foreach(Menu item in Model)
    {
                <div class="col-sm-6 col-lg-4">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="@item.PictureURL" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    @item.Name
                                </h5>
                                <p>
                                    Test
                                </p>
                                <div class="options">
                                    <h6>
                                        @item.Price
                                    </h6>
                                @if(token != null)
                                {
                                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-method="Index" asp-route-path="Home">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                        <g>
                                        <g>
                                        <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                  </g>
                                </g>
                                        <g>
                                        <g>
                                        <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                  </g>
                                </g>
                                        <g>
                                        <g>
                                        <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                  </g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                                        <g>
                                </g>
                              </svg>
                                    </a>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    }
    </div>
</div>

        @*
        <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
                <div>
                    <div class="img-box">
                        <img src="images/f2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Delicious Burger
                        </h5>
                        <p>
                            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                        </p>
                        <div class="options">
                            <h6>
                                $15
                            </h6>
                            <a href="">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                      </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
                <div>
                    <div class="img-box">
                        <img src="images/f3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Delicious Pizza
                        </h5>
                        <p>
                            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                        </p>
                        <div class="options">
                            <h6>
                                $17
                            </h6>
                            <a href="">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                      </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
                <div>
                    <div class="img-box">
                        <img src="images/f4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Delicious Pasta
                        </h5>
                        <p>
                            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                        </p>
                        <div class="options">
                            <h6>
                                $18
                            </h6>
                            <a href="">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                      </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 all fries">
            <div class="box">
                <div>
                    <div class="img-box">
                        <img src="images/f5.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            French Fries
                        </h5>
                        <p>
                            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                        </p>
                        <div class="options">
                            <h6>
                                $10
                            </h6>
                            <a href="">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                      </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
                <div>
                    <div class="img-box">
                        <img src="images/f6.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Delicious Pizza
                        </h5>
                        <p>
                            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                        </p>
                        <div class="options">
                            <h6>
                                $15
                            </h6>
                            <a href="">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                      </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
                <div>
                    <div class="img-box">
                        <img src="images/f7.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Tasty Burger
                        </h5>
                        <p>
                            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                        </p>
                        <div class="options">
                            <h6>
                                $12
                            </h6>
                            <a href="">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                      </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
                <div>
                    <div class="img-box">
                        <img src="images/f8.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Tasty Burger
                        </h5>
                        <p>
                            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                        </p>
                        <div class="options">
                            <h6>
                                $14
                            </h6>
                            <a href="">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                      </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
                <div>
                    <div class="img-box">
                        <img src="images/f9.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Delicious Pasta
                        </h5>
                        <p>
                            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                        </p>
                        <div class="options">
                            <h6>
                                $10
                            </h6>
                            <a href="">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                                <g>
                        </g>
                      </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@