﻿@using DataLayer.Entityes;
@model Restaurant

@{
    ViewData["Title"] = "Add Restaurant";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add Restaurant</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img class="rounded-circle" id="PictureURLPreview" style="max-width: 200px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureURL" class="control-label"></label>
                        <input asp-for="PictureURL" class="form-control" />
                        <span asp-validation-for="PictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('PictureURLPreview');
            output.src = $("#PictureURL").val();
        })

        $("#PictureURL").on("change", function () {
            var output = document.getElementById('PictureURLPreview');
            output.src = $(this).val();
        })
    </script>
}