﻿@using DataLayer.Entityes;
@model dynamic

@{
    ViewData["Title"] = "Restaurant details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                        @foreach(Restaurant restaurant in Model.Restaurant)
                        {
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @restaurant.Name
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="@restaurant.PictureURL" width="100%" alt="@restaurant.Name">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">
                                    <div class="row">
                                        @foreach (Menu menu in Model.Menu)
                                        {
                                            @if (menu.RestaurantId == restaurant.Id)
                                            {
                                                <div class="column text-center">
                                                    <img class="border-info rounded-circle" src="@menu.PictureURL" style="max-width: 150px" />
                                                    <br />
                                                    <a asp-controller="Menu" asp-action="Details" asp-route-id="@menu.Id">@menu.Name</a>
                                                </div>
                                            }

                                        }
                                    </div>
                                </p>

                            </div>
                        </div>
                        }
            </div>
        </div>
    </div>
</div>