﻿@using DataLayer.Entityes;
@using System.IdentityModel.Tokens.Jwt;
@model IEnumerable<Restaurant>

@{
    ViewData["Title"] = "List of Restaurants";
    string token;
    Context.Request.Cookies.TryGetValue("Authorization", out token);
}


<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thread>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th>Actions</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src ="@item.PictureURL" alt="@item.Name" style="max-width: 150px"/>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>

                        @if (token != null)
                        {
                            var handler = new JwtSecurityTokenHandler();
                            var jsonToken = handler.ReadToken(token);
                            var tokenS = jsonToken as JwtSecurityToken;
                            string role = tokenS.Claims.First(claim => claim.Type == "Role").Value;
                            @if (role == "admin")
                            {
                                <td class="align-middle">
                                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square">Edit</i></a>
                                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye">Details</i></a>
                                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash">Delete</i></a>
                                </td>
                            }
                        }
                        else
                        {
                            <td class="align-middle">
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye">Details</i></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@if (token != null)
{
    var handler = new JwtSecurityTokenHandler();
    var jsonToken = handler.ReadToken(token);
    var tokenS = jsonToken as JwtSecurityToken;
    string role = tokenS.Claims.First(claim => claim.Type == "Role").Value;
    @if (role == "admin")
    {
        <div style="position: fixed; right: 25px; bottom: 65px;" class="text-white">
            <a asp-controller="Restaurant" asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add New </a>
        </div>
    }

}

