﻿@using DataLayer.Entityes;
@model Product

@{
    ViewData["Title"] = "Product details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.PictureURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Description: </b>
                            <a>
                                @Model.Description
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Category: </b>
                            <a>
                                @Model.Category
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Price: </b>
                            <a>
                                @Model.Price
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>